@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.ag-root .ag-center-cols-container {
    min-width: 100% !important;
}

.ag-root-wrapper {
    --ag-border-color: #d1d5db !important;
}

.ag-header {
    --ag-border-color: #d1d5db !important;
    --ag-header-background-color: #f4f4f4 !important;
}

.ag-pinned-left-cols-container > .ag-row-even,
.ag-pinned-left-cols-container > .ag-row-odd {
    background-color: #f4f4f4 !important;
}

.ag-body-viewport {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    line-height: 20px;
}

.ag-row {
    --ag-row-border-color: #d1d5db !important;
}

.ag-row-odd {
    background-color: var(--ag-background-color);
}

.ag-cell {
    color: #555 !important;
}

.ag-ltr,
.ag-rtl {
    --ag-range-selection-border-color: transparent !important;
}
